<nav class="navbar navbar-expand-lg navbar-light verde3">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
        aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
        <ul class="navbar-nav mr-auto d-flex align-items-center">
            <li class="nav-item active">
                <img src="https://i.imgur.com/TdyeVNC.png" alt="Logo" alt="" width="150px" height="33px">
            </li>



            <li class="nav-item pl-3">
                <a routerLink='/pagina-inicial'>
                    <p class="m-0 font-weight-bold text-white fs-16">Início</p>
                </a>
            </li>

            <li class="nav-item pl-3">
                <a routerLink='/inicio'>
                    <p class="m-0 font-weight-bold text-white fs-16 ">Postagens</p>
                </a>
            </li>

            <li class="nav-item pl-3">
                <a routerLink='/sobre-nos'>
                    <p class="m-0 font-weight-bold text-white fs-16 ">Sobre nós</p>
                </a>
            </li>

        </ul>

        <form class="form-inline my-2 my-lg-0 ml-3">
            <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar">

            <i class="fa fa-search" type='submit' style="font-size: 16pt; color: white;"></i>

        </form>
        <div class="navbar-nav d-flex align-items-center">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="{{foto}}" alt="Imagem do user" alt="" width="50px" height="50px"
                        class="img-fluid rounded-circle">
                </a>
            
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" [routerLink]="['/usuario-edit', id]">Editar perfil</a>
                    <a class="dropdown-item" (click)='sair()'>Sair</a>
                </div>
           
            </li>
        </div>






    </div>
</nav>