<div class="verde2">
    <div class="row verde2">
        <div class="container-fluid mb-5">
            <div class="row d-flex align-items-center mt-5">
                <div class="col-md-6">
                    <div class="row d-flex justify-content-center ">
                        <div class="col-md-10 text-white ">
                            <h1>ODS-2: Fome Zero e Agricultura Sustentável</h1>
                            <p>
                                Em Setembro de 2015, após reunião dos 193 Estados-membros da ONU, foi definida a Agenda
                                2030 visando o desenvolvimento sustentável, aquele que procura satisfazer as
                                necessidades da geração atual porém sem comprometer a capacidade das gerações futuras de
                                satisfazerem as suas próprias necessidades. Foram criados 17 objetivos e 169 metas que
                                visam erradicar a pobreza e garantir vida digna a todos dentro dos limites do planeta.
                                Um desses objetivos é a ODS-2, que tem como objetivo acabar com a fome, alcançar a
                                segurança alimentar e a melhoria da nutrição, além de promover a agricultura
                                sustentável. Para alcançar este objetivo, é necessário promover práticas agrícolas
                                sustentáveis por meio do apoio à agricultura familiar, do acesso equitativo à terra, à
                                tecnologia e ao mercado.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 d-flex justify-content-center">
                    <img src="https://imgur.com/5g1hTal.png" alt="" width="450PX" height="400px">
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row d-flex align-items-center verde2">
            <div class="col-md-6">
                <div class="row d-flex justify-content-center ">
                    <div class="col-md-10 text-white">
                        <h1>Projeto CultivAção</h1>
                        <p>
                            Precisamos ter em mente que a Agricultura Familiar só em 2018 e com menos de 25% das áreas
                            cultivadas no Brasil obteve um faturamento de U$52,2 bilhões, além de ser base da economia
                            de 90% dos municípios brasileiros com menos de 20 mil habitantes e responsável pela renda de
                            40% da população economicamente ativa do país, garantindo 70% dos empregos no setor
                            agropecuário. Além de todo o impacto econômico, a Agricultura Familiar garante a produção de
                            alimentos com menos agrotóxicos e com menor dano ao solo, por respeitar a sazonalidade dos
                            itens plantados.
                        </p>
                        <p>
                            O projeto CultivAção surgiu da vontade de criação de uma rede social com a finalidade de
                            disseminar informações e criar network entre produtores da agricultura familiar, cidadãos e
                            estabelecimentos que visam utilizar esse tipo de produto em suas preparações alimentícias,
                            gerando uma rede de apoio à facilitação do acesso e consumo de alimentos mais saudáveis, com
                            menos impactos ambientais e que gerem um efeito positivo na economia de seu município.

                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 d-flex justify-content-center">
                <img src="https://i.imgur.com/iVtoR62.png" alt="" width="400px" height="400px">
            </div>
        </div>
    </div>
</div>


<div class="row d-flex align-items-center verde2 ">
    <div class="col-md-12 d-flex justify-content-center mt-5 mb-5 verde2">
        <div class="card-group mt-5 mb-5 verde2">
            <div class="card verde2">
                <img class="card-img-top rounded-circle imgCard mt-5" src="https://i.imgur.com/Uy7CdJL.jpg"
                    alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title text-center">Beatriz Gomes</h5>
                    <p class="card-text text-center">Beatriz tem 24 anos é formada em Gestão Financeira e está em transição de carreira para a área tech.</p>
                    <div class="row d-flex justify-content-center">
                        <a href="https://github.com/BeatrizGomesAbreu" target="_blank" class="icoGitHub">
                            <i class="fa fa-github" aria-hidden="true" style="color: black;"></i>
                        </a>
                        <a href="https://www.linkedin.com/in/beatriz-gomes-b96599203/" target="_blank"
                            class="icoLinkedin">
                            <i class="fa fa-linkedin-square" aria-hidden="true" style="color: black;"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="card">
                <img class="card-img-top rounded-circle imgCard mt-5" src="https://i.imgur.com/JIDS84L.png"
                    alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title text-center">José Paulo</h5>
                    <p class="card-text text-center">José Paulo tem 29 é formado em farmácia e esta em transição de carreira para área tech.</p>
                    <div class="row d-flex justify-content-center">
                        <a href="https://github.com/Paulopdm" target="_blank" class="icoGitHub">
                            <i class="fa fa-github" aria-hidden="true" style="color: black;"></i>
                        </a>
                        <a href="https://www.linkedin.com/in/paulo-de-matos-b29857191/" target="_blank"
                            class="icoLinkedin">
                            <i class="fa fa-linkedin-square" aria-hidden="true" style="color: black;"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top rounded-circle imgCard mt-5" src="https://i.imgur.com/Aa3XHtj.jpg"
                    alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title text-center">Matheus Milani</h5>
                    <p class="card-text text-center">Matheus tem 18 anos e está no 4° semestre do curso de Ciência da Computação.</p>
                    <div class="row d-flex justify-content-center">
                        <a href="https://github.com/MatheusBMilani" target="_blank" class="icoGitHub">
                            <i class="fa fa-github" aria-hidden="true" style="color: black;"></i>
                        </a>
                        <a href="https://www.linkedin.com/in/matheus-milani-287b781a4/" target="_blank"
                            class="icoLinkedin">
                            <i class="fa fa-linkedin-square" aria-hidden="true" style="color: black;"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top rounded-circle imgCard mt-5" src="https://i.imgur.com/uMbSOVT.jpg"
                    alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title text-center">Sabrina Alves</h5>
                    <p class="card-text text-center">Sabrina tem 25 anos é formada em Direito e esta em transição de
                        carreira para a área tech. Está no primeiro semestre do curso de Análise e desenvolvimento de
                        sistemas.</p>
                    <div class="row d-flex justify-content-center">
                        <a href="https://github.com/sabrinalvespaiva" target="_blank" class="icoGitHub">
                            <i class="fa fa-github" aria-hidden="true" style="color: black;"></i>
                        </a>
                        <a href="https://www.linkedin.com/in/sabrina-alves-916395167/" target="_blank"
                            class="icoLinkedin">
                            <i class="fa fa-linkedin-square" aria-hidden="true" style="color: black;"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>